@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

nav a {
  margin-right: 15px;
}

#main-navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
}

#main-navigation a,
#dashboard {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#usr-name {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  color: #390281;
  font-size: 1.5rem;
  text-justify: center;
  border-radius: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 5rem;
  margin-top: 5px;
}

#usr-name p {
  text-align: center;
  margin: 0;
}

#main-navigation a:hover,
#main-navigation a:active,
#dashboard:hover {
  color: #cf79f1;
  cursor: pointer;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}

#my-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: top;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
}

#welcome {
  background: linear-gradient(to right top, #6305dd, #390281);
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#welcome p {
  color: white;
  font-size: 1.5rem;
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#latest-posts li {
  flex: 1;
  min-width: 30%;
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}

#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#all-posts {
  margin: 7rem auto;
  width: 90%;
  max-width: 60rem;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}

.post img {
  width: 7rem;
  height: 7rem;
}

.post a {
  height: 22rem;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.post img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.post h3 {
  margin: 0.25rem 0;
}

.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.post:hover time,
.post:active time {
  color: white;
}

#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#summary {
  margin: 8rem auto 3rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 90rem;
  border-radius: 16px;
  background-color: #5706c0;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 22rem;
}

#summary h2 {
  color: white;
  font-size: 4.5rem;
}

#summary article {
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  text-align: right;
  color: white;
}

#summary article img {
  width: 12rem;
  height: 12rem;
  border-radius: 12px;
  transform: rotateZ(5deg);
  border: 5px solid white;
  margin-bottom: 1rem;
}

#summary address {
  font-weight: bold;
}

#summary time {
  font-weight: bold;
}

main {
  width: 90%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#arrows,
.comments {
  display: flex;
  justify-content: center;
}

.comments {
  width: 100%;
}

.right {
  display: flex;
  justify-content: right;
}

#arrows a {
  text-decoration: none;
}

.arrow {
  color: #390281;
  font-size: 36px;
}

#left_arrow {
  display: inline-block;
  transform: scale(-1, 1);
}

.main {
  background-color: #f7f7f7;
  padding: 1rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  margin-top: -5rem;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 2rem 3rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  padding: 0.75rem 1.25rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.btn--blue {
  background-color: #5706c0;
  color: #fff;
}

.red {
  color: red;
}

.header_element {
  width: 49%;
}

.header_element button {
  border: 0px;
  background: transparent;
}

.large_icon-container {
  width: 2.5 rem;
  height: 2.5 rem;
  border-radius: 50%;
}

.small_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.large_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.hr {
  border-bottom: 2px;
}

#modal_backgound {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000088;
}

#modal_body {
  background-color: white;
  margin: 5% auto;
  padding: 10%;
  width: 70%;
  border-radius: 10px;
}

div h3 {
  margin-bottom: 0px;
}

div p {
  margin-top: 0px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #390281;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px #00000088;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#msg {
  width: 60%;
  height: 5rem;
  background-color: #55c57a;
  color: #390281;
  position: absolute;
  left: 20%;
  top: 1rem;
  border-radius: 5px;
}
#msg-content {
  text-align: center;
  margin-top: 1rem;
}

.field {
  width: 10rem;
  height: 6rem;
  background-color: lightblue;
  color: #060230;
  text-align: center;
  border-bottom: 5px solid #060230;
  margin: 1rem;
}
.field_link {
  text-decoration: none;
}

.field h3 {
  display: inline-block;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
